@page "/product/{id:int}"
@using WebAplicationForServices.Client.Services.OrdersService
@inject IProductService productService;
@inject IOrderService orderService;

@if(product==null)
{
    <span>@message</span>
}
else
{
    <div class="media">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@product.ImageUrl" alt="@product.Title"/>
        </div>
        <div class="media-body">
            <h2 class="mb-0">
                @product.Title
            </h2>
            <p>
                @product.Description
            </p>
            <h4 class="price">
                @product.Price lv(per hour)
            </h4>

        </div>
        <div class="order">
            <EditForm Model="order" OnValidSubmit="CreateOrder">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <div class="mb-0">
            <label for="name">Your name</label>
            <InputText id="name" @bind-Value="order.Name" class="form-control"></InputText>
        </div>
        <div class="mb-0">
            <label for="email">Email</label>
            <InputText id="email" @bind-Value="order.Email" class="form-control"></InputText>
        </div>
        <div class="mb-0">
            <label for="phone">Phone</label>
            <InputText id="phone" @bind-Value="order.Phone" class="form-control"></InputText>
       </div>
      
        <div class="mb-2">
        <label for="date">Reserve date</label>
        <InputDate  @bind-Value="nowDate"  min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control"></InputDate>
        </div>

        <div class="mb-2">
         <label for="hour">Reserve hour</label>
         <InputSelect @bind-Value="order.Hour">
         @for(int i = 1; i<=24; i++)
           {
                        @foreach(var currentOrder in orders.Where(o => o.ProductId == Id && o.ReserveDate == nowDate))
            {
               @if(currentOrder.Hour == i && product.StartHour<=i && product.EndHour>=i)
                {
                                <option>Reserved</option>
                                    reservedHour = i;
                                }
                                
                                
                            }
                        @if (product.StartHour <= i && product.EndHour >= i && reservedHour!=i)
                            {

                            <option>@i</option>
                            }

                    }
            </InputSelect>
         </div>
       <div class="mb-1">
    <button type="submit" class="btn btn-primary float-end">Reserve</button>
    </div>
    <ValidationSummary></ValidationSummary>
</EditForm>

        </div>
    </div>
}


@code {
    private Order order = new Order();
    private Product? product = null;
    private string message = string.Empty;
    private DateTime nowDate;
    List<Order> orders = new List<Order>();
    private int reservedHour;
    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        orders = await orderService.GetOrdersAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading Product ...";
        var result = await productService.GetProductAsync(Id);
        if(!result.Success)
        {
            message = result.Message;
        }
        else
        {
            product = result.Data;
        }
    }

    private async void CreateOrder()
    {
        order.ProductId = Id;
        order.ReserveDate = nowDate;
        await orderService.CreateOrderAsync(order);
    }

    private async void GetOrders()
    {
        order.ProductId = Id;
        await orderService.CreateOrderAsync(order);
    }
}
